// place your custom styles here
.slimsearch-button {
  .slimsearch-key-hints {
    display: none;
  }
}
.vp-appearance-wrapper {
  display: none;
}

.vp-footer {
  .footer-icon-ig {
    vertical-align: -0.15em;
  }
}